div.mdq-wrap {

    .mdq-question-groups {
        margin: {
            top   : 16px;
            bottom: 8px;
        }

        label {
            padding-right: 16px;
            margin-bottom: 8px;
        }

        input[type="checkbox"] {
            margin-right: 8px;
        }
    }

    .mdq-question {
        margin: {
            bottom: 48px;
        }

        padding: {
            top: 16px;
        }

        border-top: 1px solid silver;

        &:first-child {
            border-top: none;
        }

        input,
        select {
            &.correct {
                background-color: #ccffcc !important;
            }

            &.incorrect {
                background-color: #ffc2b3 !important;
            }
        }
    }

    .mdq-mc-grid {
        display              : grid;
        grid-template-columns: min-content 1fr;
        cursor               : pointer;

        padding: {
            top: 16px;
        }

        >div {
            padding: {
                right: 16px;
            }

            &.sel {
                background: #eee;
            }

            &.correct {
                background: #ccffcc;
            }

            &.incorrect {
                background: #ffc2b3;
            }
        }
    }

    .mdq-buttons {
        button {
            margin: {
                right: 16px;
                top  : 16px;
            }
        }
    }

    .mdq-explanation {
        margin: {
            top: 16px;
        }
    }

    // Override for Bootstrap 5
    .form-select,
    .form-control {
        width  : auto;
        display: inline !important;
    }

    .mdq-tf-result {
        margin: {
            left: 16px;
        }

        &.correct {
            color: green;
        }

        &.incorrect {
            color: red;
        }
    }

    .mdq-credit {
        padding: {
            top   : 32px;
            bottom: 16px;
        }

        a {
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    // Div containing the reload button
    .mdq-reload {
        margin: {
            top   : 16px;
            bottom: 16px;
        }
    }
}